
ignores/battle.html

ignores/battle_Resources/HYPE.js

ignores/battle_Resources/banner5-1.bmp

ignores/battle_Resources/PIE.htc

ignores/battle_Resources/battle_hype_generated_script.js

ignores/battle_Resources/chara.png

ignores/jsonizing.txt

ignores/jsonizing_last.txt

ignores/battle_Resources/images.jpeg

ignores/test
