.p1 {
	margin: 15px 0px 0px 0px;
  font-weight: 700;
	font-size:20px;
  color:#007EDF;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;	
	&:hover {
		color:#007EDF+#222;
		background-color:#212121+#222;
	}
}

.emblem {
	position: absolute;
	top: -16px;
	right: 0px;
	
	width:189px;
	height:163px;
	background:url('../../images/emblem.png') no-repeat;
}
